<div data-magellan-expedition="fixed">
  <dl class = "sub-nav">
  <ul class="title-area">
      <h1><a href="/">John Tan</a></h1>
  </ul>
</dl>

  <dl class = "sub-nav">
  <dd data-magellan-arrival="Home"><a href="/">Home</a></dd>
  <dd data-magellan-arrival="Projects"><%= link_to "Projects", projects_path %></dd>
  <dd data-magellan-arrival="Résumé"><%= link_to "Résumé", "https://s3.amazonaws.com/JohnTan/JTan_Resume_Official.pdf", target:"_new" %></dd>

  <dd data-magellan-arrival="Contact"><a href="/" data-dropdown="drop1" data-options="is_hover:true">Contact</a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content >
          <li><%= link_to "Linkedin", "http://www.linkedin.com/in/johnctan", target:"_new" %></li>
          <li><%= link_to "Github", "https://github.com/jctan", target:"_new" %></li>
          <li><%= mail_to " john@johnctan.com" %></li>
        </ul>
      </dd>
  </dl>
</div>

